<h1>Idea Factory</h1>
<%= link_to "New Idea", new_idea_path, class: "btn btn-default" %>
<hr>
<% @ideas.each do |idea| %>
  <%= image_tag idea.image.url(:medium) %>
  <p><%= link_to "#{idea.title}", idea %></p>
  <p><%= idea.body %></p>
  <%= link_to "Delete Idea", idea, method: :delete, data: {confirm: "Are you sure you want to delete this idea?"}, class: "btn btn-default" %>
  <%= link_to "Edit", edit_idea_path(idea)%>
  <% if user_signed_in? %>
    <% if idea.join_by current_user %>
      <%= link_to "Quit", idea_joins_path(idea), method: :delete %>
    <% else %>
      <%= link_to "Join", idea_joins_path(idea), method: :post %>
    <% end %>
  <% end %>
  <%#= render "/votes/vote_buttons", idea: @idea %>
  <hr>
<% end %>